@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;

}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}
.button {
  font-family: inherit;
  color: #FFFFFF;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.page-header{
  color: #000000;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-list-user {
  width: 300px;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-link {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.navigation-link-here{
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.welcome {
  display: block;
  margin: 0 auto;
}
.main-photo {
  color:#000000;
  background-color: #756157;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
  width: 1200px;
}
.about {
  color:#000000;
  text-align: center;
}
.about-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.about-intro {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.advantages-list {
  color:#000000;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.first-container {
  display: flex;
}
.first-container-text {
  margin-top: 92px;
  margin-right: 85px;
  margin-bottom: 92px;
  margin-left: 85px;
}
.second-container {
  display: flex;
  flex-direction: row-reverse;
}
.second-container-text {
  margin-top: 92px;
  margin-right: 85px;
  margin-bottom: 92px;
  margin-left: 85px;
}
.third-container {
  display: flex;
}
.advantages-item {
  width: 400px;
}
.advantages-city {
  background-color: #82B3D3;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.advantages-blue-bg {
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 384px;
  margin: 0 auto;
}
.advantages-short {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.advantages-light-blue {
  background-color: #83B3D31F;
}
.advantages-blue {
  background-color: #83B3D333;
}
.advantages-food {
  background-color: #FFFFFF;
}
.booking {
  text-align: center;
}
.booking-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.booking-invite {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}
.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.page-footer-container {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}
.page-footer-container-two {
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}
.page-footer-catalog {
  background-color: #FFFFFF;
  text-align: center;
}
.subscription {
  width: 800px;
  margin: 0 auto;
}
.contacts {
  width: 1200px;
  margin: 0 auto;
}
.contacts-information {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: row;

}
.contacts-item {
  width: 142px;
  margin: 0 auto;
}
.footer-address {
  width: 331px;
  margin: 0 auto;
}
.htmlacademy-logo {
  width: 115px;
  margin: 0 auto;
}
.subscriprion-invite-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.subscription-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subscriprion-invite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscriprion-invite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.contacts {
  background-color: #FFFFFF;
}
.contacts-button {
  color: #83B3D3;
}
.contacts-number.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.main-filter {
  color: #FFFFFF;
  background-color: #756157;
  background-image: url("../images/filter-2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1200px;
}
.catalog-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.filter-results-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.product-list-one {
  display: flex;
  list-style: none;
}
.product-list-two {
  display: flex;
  list-style: none;
}
.product-card {
  width: 340px;
}
.product-card-image {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
}
.product-card-name {
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
}
.hotel-class {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
  justify-content: space-between;
  padding-right: 20px;
}
.hotel-choose {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 20px;
}
.hotel-rating {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
a.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.catalog-list-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.button-apply {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
}
.product-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.product-card-type .product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.product-card-button-favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.product-card-button-favorite-chosen {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.product-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.product-card-rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.pagination-all {
  display: flex;
  flex-direction: row;
}
.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.pagination-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
