@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}
.button {
  font-family: inherit;
  color: #FFFFFF;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.page-header{
  color: #000000;
}
.navigation-link {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation-link-here{
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.main-photo {
  color:#000000;
  background-color: #756157;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
  width: 1200px;
}
.about {
  color:#000000;
  text-align: center;
}
.about-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.about-intro {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.advantages-list {
  color:#000000;
  text-align: center;
}
.advantages-city {
  background-color: #82B3D3;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.advantages-blue-bg {
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-light-blue {
  background-color: #83B3D31F;
}
.advantages-blue {
  background-color: #83B3D333;
}
.advantages-food {
  background-color: #FFFFFF;
}
.booking {
  text-align: center;
}
.booking-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.booking-invite {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}
.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.page-footer {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  text-align: center;
}
.page-footer-catalog {
  background-color: #FFFFFF;
  text-align: center;
}
.subscriprion-invite-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.subscription-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subscriprion-invite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscriprion-invite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.contacts {
  background-color: #FFFFFF;
}
.contacts-button {
  color: #83B3D3;
}
.contacts-number.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.main-filter {
  color: #FFFFFF;
  background-color: #756157;
  background-image: url("../images/filter-2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1200px;
}
.catalog-list {
  background-color: #ffffff;
}
.inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
a.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.catalog-list-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.button-apply {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
}
.product-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.product-card-type .product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}
.product-card-button-favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.product-card-button-favorite-chosen {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.product-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.product-card-rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.pagination-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
